<div class="max-w-md mx-auto mt-10 p-8 bg-white shadow-md rounded-md">
  <h1 class="text-3xl font-semibold mb-4">New Task</h1>

  <%= form_with(model: @task, url: tasks_path, method: :post, class: "w-full", data: { turbo: true }) do |form| %>
    <div class="mb-4">
      <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-6">
      <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "Create Task", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
